
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h1>Softwarica College</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/Image/a.png" alt="College" />
            <br>
        </div>
        <div class="col-md-12">
            <p>
                Softwarica College is working in collaboration with Coventry University to offer a range of undergraduate programmes, BSc (Hons) Computing and BSc (Hons) Ethical Hacking & Cybersecurity. On successful completion students will receive Coventry University degree award.
                <br>
                Coventry University is a forward-looking, pioneering, modern University. The University is one of the UK’s leading Universities, ranked No.13 in the UK in the Guardian University Guide 2019. The University has been awarded TEF gold in the Teaching and Excellence Framework (TEF) 2017 for the quality of teaching.
                <br>
                Softwarica College is a pioneer in introducing British Education in Nepal. Established in 2010, the college has crossed significant milestones in this short span of time. This is evident by the fact that the student number has already crossed 400 and is becoming very popular among students who aspire to gain a British Qualification. Softwarica College is one of the Best IT College in Nepal for student satisfaction in terms of course delivery and other academic resources.
                <br>
                We are an avid follower of education based on practical approach. The college recognizes the fact that in order to be successful in finding a rewarding career, real life skills are also essential. For this reason, classes are held on personality development, presentation skills and public speaking skills. This combination of both academic and real life skills would thus help students towards their holistic development.
                <br>
                With a view to provide real time work experience right after the completion of the first year, students are provided with internship opportunities with renowned Companies in Nepal. Similarly, after the completion of second year students are placed in various companies in Nepal and abroad in positions according to their skill level. Hence, by the time a student graduates, he/she would have more than one year of real time work experience facilitating them to sought positions in the middle level in companies both at home and abroad.
                <br>
                With state of the art computer labs, well equipped technical and networking labs, library with exhaustive collection of books on IT and Business, local and international experts on teaching faculties, the college is truly an ideal place to hone students’ skills and gain an internationally recognized qualification.
            </p>
        </div>
    </div>
</div>
