

<!DOCTYPE Html>
<html>
<head>
    <title>
       
     </title>
 </head>
<body>
    <div class="jumbotron text-center">
        <h1>Kathmandu University</h1>
        <p>"To become a world class university devoted to bringing knowledge and Technology to the service of Mankind"</p>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <h3>News and Events</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button type="button" class="btn btn-info">Info</button>
            </div>
            <div class="col-sm-4">
                <h3>Notice</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button type="button" class="btn btn-info">Info</button>
            </div>
            <div class="col-sm-4">
                <h3>Seminar and talk</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                <button type="button" class="btn btn-info">Info</button>
            </div>
        </div>
    </div>


</body>
</html>



